.modal {
  @keyframes modal-fin {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes modal-fout {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  &-fin {
    animation: modal-fin 0.5s 1 forwards;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;

  }

  &-fout {
    animation: modal-fout 0.5s 1 forwards;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
  }

  &-container {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s transform;
    will-change: transform;
    width: 100%;
  }

  &-inner {
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 50px;
  }

  &-content {
    margin: 30px 20px;
  }

  &-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 40% 60%;

    @media screen and (max-width: 810px) {
      grid-template-rows: 50% 50%;
    }

    @media screen and (max-width: 550px) {
      grid-template-rows: 45% 55%;
    }

    @media screen and (orientation: landscape) and (max-height:700px) {
      grid-template-rows: auto;
      grid-template-columns: 50% 50%;

      .modal {
        &-tag {
          font-size: 9px;
          gap: 4px;
          padding: 4px;
          margin: 2px 1px;
        }
      }
    }
  }

  &-tag {
    margin: 2px 2px;
    border-radius: 60px;
    background: linear-gradient(45deg, #aa076b, #61045f);
    color: whitesmoke;
    padding: 5px;
    position: relative;
    text-align: center;
    cursor: help;
    user-select: none;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &-title {
        width: 100%;
        font-weight: bolder;
        color: #000000;
        text-align: center;
      }
    }

    &-img {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: whitesmoke;
      pointer-events: none;
      user-select: none;

      @media screen and (max-width: 500px) {
        width: 15px;
        height: 15px;
      }
    }

    &:hover {
      &::after {
        visibility: visible;
        opacity: 1;
      }
    }

    &::after {
      content: attr(help-text);
      position: absolute;
      padding: 10px;
      border-radius: 20px;
      top: 120%;
      left: 0;
      right: -80%;
      background-color: #333333;
      text-align: center;
      color: whitesmoke;
      word-break: break-word;
      transition: all 0.3s linear;
      visibility: hidden;
      opacity: 0;
      font-weight: 100;
      z-index: 1;
    }

    @media screen and (max-width: 390px) {
      margin: 2px 1px;
    }

    @media only screen and (max-width: 550px) {
      font-size: 9px;
      gap: 5px;
      padding: 4px;
    }
  }
}